@import "tailwindcss";

body {
  font-family: Arial, sans-serif;
  background: #0b1b3a;
  color: white;
  height: 100vh;
}
input {
  margin: 6px;
  padding: 6px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  background-color: #1a6cff;
  border: 1px solid #144ba0;
}
