body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}
input {
  margin: 6px;
  padding: 6px;
}
button {
  padding: 8px 12px;
  cursor: pointer;
  background-color: cadetblue;
}
